<!DOCTYPE html>
<html>
  <head>
    <title>Zapstrap - Empty Project</title>

    <link rel="stylesheet/less" href="css/main.less" type="text/css" media="all" />
    <script src="js/libs/less.js"></script>

    <meta charset="UTF-8">
    <meta name="description" content="">

    <script src="js/libs/require.js"></script>
    <script src="js/main.js"></script>
    <script>
      require(['jquery', 'app/app'],
        function($, App) {
          App.start();
        }
      );
    </script>


  </head>

  <body>
    <div class="loading">Loading...</div>
  </body>
</html>
